/*Importando ícones*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

/*Importando fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;800&display=swap');

:root{ /*Atribuindo variáveis às fontes*/
    --font-primary:"Montserrat", serif; /*Fonte Primária*/
    --font-secondary: "Poppins", serif; /*Fonte Secundária*/
    --color-primary: #EEEEEE;
    --color-secondary: #EA8208;
}

*{
    margin: 0; /*Tirando margem*/
    padding: 0; /*Tiramos espaçamento*/
    border: none; /*Tiramos borda*/
    outline: none; /*E outline*/
    list-style: none; /*Tiramos estilo das listas*/
    text-decoration: none;
}

.container{
    position: absolute;
    /*Adicionando margin top*/
    margin-top: 7rem;
    top: 25%;
    /*Posicionando Container ao centro da tela*/
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /*Ao aplicar essa propriedade evitamos que a tela se sobressaia através de scroll.*/
    overflow: hidden;
}

/*Configurando background wrapper*/
.img-wrapper-bg{
    width: 100%;
    height: 100vh;
    background-color: #161413;
}

/*Configurando imagem dentro desse wrapper*/
.img-wrapper-bg img{
    width: 100%;
    height: 100%;
    opacity: 0.25;
    object-fit: cover;
}

/*Configurando posicionamento dos elementos do profile*/
.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}

/*Configurando borda que fica ao redor da foto*/
.border-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 4px solid #EA8208;
    border-radius: 120px;
}

/*Configurando wrapper da imagem*/
.img-wrapper-profile{
    width: 190px;
    height: 190px;
    border-radius: 100px;
}

/*Configurando imagem presente no wrapper*/
.img-wrapper-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

/*Configurando fonte primária da profile-header*/
.profile-header h1{
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-weight: 600;
}

/*Configurando fonte secundária da profile-header*/
.profile-header h2{
    font-family: var(--font-secondary);
    color: var(--color-secondary);
    font-size: 1.2rem;
    font-weight: 400;
}

/*Configurando posicionamentos dos elementos da sessão social media*/
.section-social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Configurando posicionamento dos primeiros 2 botões*/
.first-line{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Configurando posicionamento dos segundos 2 botões*/
.second-line{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Configurando links*/
#link{
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: .75rem;
    transition: all .5s;
    box-shadow: 6px 7px 0px rgba(0, 0, 0, 0.027);
}

/*Link Hover*/
#link:hover{
    background-color: var(--color-secondary);
    margin-bottom: .5em;
}

/*Configurando Link do Instagram*/
.link-instagram{
    color: var(--color-primary);
    background: #D42555;
    border-radius: 3px;
    margin-right: 25px;
}

/*Configurando ícone*/
.link-instagram i{
    font-size: 1.5rem;
}

/*Configurando h3*/
.link-instagram h3{
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: .85rem;
}

/*Configurando Link do Github*/
.link-github{
    color: var(--color-primary);
    background: #16212C;
    border-radius: 3px;
}

/*Configurando ícone*/
.link-github i{
    font-size: 1.5rem;
}

/*Configurando h3*/
.link-github h3{
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: .85rem;
}

/*Configurando Link do Linkedin*/
.link-linkedin{
    color: var(--color-primary);
    background: #0A66C2;
    border-radius: 3px;
    margin-right: 25px;
}

/*Configurando ícone*/
.link-linkedin i{
    font-size: 1.5rem;
}

/*Configurando h3*/
.link-linkedin h3{
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: .85rem;
}

/*Configurando Link do email*/
.link-email{
    color: var(--color-primary);
    background: #FF3434;
    border-radius: 3px;
}

/*Configurando ícone*/
.link-email i{
    font-size: 1.5rem;
}

/*Configurando h3*/
.link-email h3{
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: .85rem;
}

/*Configurando sessão final*/
.final-section{
    text-align: center;
    font-family: var(--font-primary);
    color: var(--color-primary);
}

/*Configurando peso da fonte*/
.final-section h3{
    font-weight: 600;
}

/*Aplicando breve responsividade*/
@media screen and (max-device-width: 900px){

    /*Modificando margin-top do container*/
    .container{
        margin-top: 11rem;
    }

    /*Mudando tamanho e posicionamento dos links*/
    #link{
        width: 12rem;
        height: 4rem;
    }
    
    .first-line{
        flex-direction: column;
    }

    .second-line{
        flex-direction: column;
    }
}